@media (prefers-color-scheme: light) {
    body {

        background-color: white;
        color: black;

    }
}

@media (prefers-color-scheme: dark) {
    body {

        background-color: black;
        color: white;

    }
}

body {

    margin: 0;

}

ul {

    padding: 0;
    margin: 0;

}

li {

    list-style: none;
    padding: 5px;
    font-size: large;
    border-top: thin solid white;
    border-bottom: thin solid white;

}

button {

    float: right;

}